<div class="page">
  <mat-card class="card">
    <h2>
      {{ isEditMode ? 'Edit Department' : 'Add Department' }}
    </h2>

    <form [formGroup]="departmentForm" (ngSubmit)="saveDepartment()">
      <mat-form-field appearance="outline">
        <mat-label>Department Code</mat-label>

        <input matInput formControlName="DepartmentCode" />

        <mat-error *ngIf="departmentForm.get('DepartmentCode')?.hasError('required')">
          Department Code is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Department Name</mat-label>

        <input matInput formControlName="DepartmentName" />

        <mat-error *ngIf="departmentForm.get('DepartmentName')?.hasError('required')">
          Department Name is required
        </mat-error>
      </mat-form-field>

      <!-- ================================================== -->
      <!-- COMPANY -->
      <!-- ================================================== -->
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>

        <mat-select formControlName="CompanyId">
          <mat-option *ngIf="hasPermission('VIEW_ALL_COMPANIES')" [value]="null">
            Select Company
          </mat-option>

          <mat-option *ngFor="let company of companies" [value]="company.CompanyId">
            {{ company.CompanyName }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="departmentForm.get('CompanyId')?.hasError('required')">
          Company is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>

        <textarea matInput rows="4" formControlName="Description"></textarea>
      </mat-form-field>

      <mat-slide-toggle formControlName="IsActive"> Active </mat-slide-toggle>

      <div class="buttons">
        <button
          *ngIf="
            (!isEditMode && hasPermission('CREATE_DEPARTMENT')) ||
            (isEditMode && hasPermission('UPDATE_DEPARTMENT'))
          "
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || loadingDepartment"
        >
          {{ loading ? 'Saving...' : isEditMode ? 'Update' : 'Save' }}
        </button>

        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="cancel()"
          [disabled]="loading"
        >
          Cancel
        </button>
      </div>
    </form>
  </mat-card>
</div>
