<div class="page">

    <mat-card class="card">

        <h2>Add Department</h2>

        <form
            [formGroup]="departmentForm"
            (ngSubmit)="saveDepartment()">

            <mat-form-field appearance="outline">

                <mat-label>Department Code</mat-label>

                <input
                    matInput
                    formControlName="DepartmentCode">

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Department Name</mat-label>

                <input
                    matInput
                    formControlName="DepartmentName">

            </mat-form-field>

            <p>Total Companies : {{companies.length}}</p>

            <mat-form-field appearance="outline">

                <mat-label>Company</mat-label>

                <mat-select formControlName="CompanyId">

                    <mat-option
                        *ngFor="let company of companies"
                        [value]="company.CompanyId">

                        {{company.CompanyName}}

                    </mat-option>

                </mat-select>

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Description</mat-label>

                <textarea
                    matInput
                    rows="4"
                    formControlName="Description">
                </textarea>

            </mat-form-field>

            <mat-slide-toggle
                formControlName="IsActive">

                Active

            </mat-slide-toggle>

            <div class="buttons">

                <button
                    mat-raised-button
                    color="primary"
                    type="submit">

                    Save

                </button>

                <button
                    mat-raised-button
                    color="warn"
                    type="button"
                    (click)="cancel()">

                    Cancel

                </button>

            </div>

        </form>

    </mat-card>

</div>