<div class="sidebar">
  <!-- Dashboard -->
  <a routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>

  <!-- Companies -->
  <a *ngIf="hasPermission('VIEW_COMPANY')" routerLink="/company" routerLinkActive="active">
    <mat-icon>business</mat-icon>
    <span>Companies</span>
  </a>

  <!-- Departments -->
  <a *ngIf="hasPermission('VIEW_DEPARTMENT')" routerLink="/department" routerLinkActive="active">
    <mat-icon>account_tree</mat-icon>
    <span>Departments</span>
  </a>

  <!-- Designations -->
  <a *ngIf="hasPermission('VIEW_DESIGNATION')" routerLink="/designation" routerLinkActive="active">
    <mat-icon>badge</mat-icon>
    <span>Designations</span>
  </a>

  <!-- Roles -->
  <a *ngIf="hasPermission('VIEW_ROLE')" routerLink="/role" routerLinkActive="active">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Roles</span>
  </a>

  <!-- Users -->
  <a *ngIf="hasPermission('VIEW_USER')" routerLink="/user" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    <span>Users</span>
  </a>

  <!-- Permissions -->
  <a
    *ngIf="hasPermission('UPDATE_ROLE_PERMISSION')"
    routerLink="/role-permission"
    routerLinkActive="active"
  >
    <mat-icon>lock</mat-icon>
    <span>Permissions</span>
  </a>
  <!-- Skills -->
  <a *ngIf="hasPermission('VIEW_SKILL')" routerLink="/skill" routerLinkActive="active">
    <mat-icon>build</mat-icon>
    <span>Skills</span>
  </a>
  <!-- Job Categories -->
  <a
    *ngIf="hasPermission('VIEW_JOB_CATEGORY')"
    routerLink="/job-category"
    routerLinkActive="active"
  >
    <mat-icon>category</mat-icon>
    <span>Job Categories</span>
  </a>
  <!-- Employment Types-->
  <a
    *ngIf="hasPermission('VIEW_EMPLOYMENT_TYPE')"
    routerLink="/employment-type"
    routerLinkActive="active"
  >
    <mat-icon>work</mat-icon>
    <span>Employment Types</span>
  </a>
  <!-- Experience Levels-->
  <a
    *ngIf="hasPermission('VIEW_EXPERIENCE_LEVEL')"
    routerLink="/experience-level"
    routerLinkActive="active"
  >
    <mat-icon>workspace_premium</mat-icon>
    <span>Experience Levels</span>
  </a>
  <!-- Interview Round -->
  <a
    *ngIf="hasPermission('VIEW_INTERVIEW_ROUND')"
    routerLink="/interview-round"
    routerLinkActive="active"
  >
    <mat-icon>groups</mat-icon>
    <span>Interview Rounds</span>
  </a>
  <!-- Job Opening -->
  <a *ngIf="hasPermission('VIEW_JOB_OPENING')" routerLink="/job-opening" routerLinkActive="active">
    <mat-icon>work</mat-icon>
    <span>Job Openings</span>
  </a>
  <!-- Applicants -->
  <a *ngIf="hasPermission('VIEW_APPLICANT')" routerLink="/applicant" routerLinkActive="active">
    <mat-icon>persons</mat-icon>
    <span>Applicants</span>
  </a>
  <!-- Reports -->
  <a *ngIf="hasPermission('VIEW_REPORT')" routerLink="/report" routerLinkActive="active">
    <mat-icon>assessment</mat-icon>
    <span>Reports</span>
  </a>
</div>
