<div class="sidebar">
  <a routerLink="/dashboard" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon>

    Dashboard
  </a>

  <a routerLink="/company" routerLinkActive="active">
    <mat-icon>business</mat-icon>

    Companies
  </a>

  <a routerLink="/department" routerLinkActive="active">
    <mat-icon>apartment</mat-icon>

    Departments
  </a>

  <a routerLink="/designation" routerLinkActive="active">
    <mat-icon>badge</mat-icon>

    Designations
  </a>
  <a routerLink="/role" routerLinkActive="active">
    <mat-icon>security</mat-icon>

    Roles
  </a>
  <a routerLink="/user" routerLinkActive="active">
    <mat-icon>people</mat-icon>

    Users
  </a>

  <a routerLink="/jobs" routerLinkActive="active">
    <mat-icon>work</mat-icon>

    Jobs
  </a>

  <a routerLink="/reports" routerLinkActive="active">
    <mat-icon>description</mat-icon>

    Reports
  </a>
</div>
