<div class="page">
  <div class="card">
    <h2>Add Experience Level</h2>

    <form [formGroup]="experienceLevelForm" (ngSubmit)="saveExperienceLevel()">
      <!-- Company -->

      <mat-form-field appearance="outline">
        <mat-label>Company*</mat-label>

        <mat-select formControlName="CompanyId">
          <mat-option *ngFor="let company of companies" [value]="company.CompanyId">
            {{ company.CompanyName }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="experienceLevelForm.get('CompanyId')?.hasError('required')">
          Company is required
        </mat-error>
      </mat-form-field>

      <!-- Experience Level Name -->

      <mat-form-field appearance="outline">
        <mat-label>Experience Level Name*</mat-label>

        <input matInput formControlName="LevelName" placeholder="Enter Experience Level Name" />

        <mat-error *ngIf="experienceLevelForm.get('LevelName')?.hasError('required')">
          Experience Level Name is required
        </mat-error>
      </mat-form-field>

      <!-- Description -->

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>

        <textarea
          matInput
          rows="4"
          formControlName="Description"
          placeholder="Enter Description"
        ></textarea>
      </mat-form-field>

      <!-- Active -->

      <mat-slide-toggle formControlName="IsActive"> Active </mat-slide-toggle>

      <!-- Buttons -->

      <div class="buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">
          {{ loading ? 'Saving...' : 'Save' }}
        </button>

        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="cancel()"
          [disabled]="loading"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
