<div class="dashboard">

    <div class="welcome-card">

        <h1>Welcome Back 👋</h1>

        <p>
            Manage recruitment, interviews and candidates from one place.
        </p>

    </div>

    <div class="cards">

        <mat-card class="card blue">

            <mat-icon>business</mat-icon>

            <h2>{{totalCompanies}}</h2>

            <p>Companies</p>

        </mat-card>

        <mat-card class="card green">

            <mat-icon>people</mat-icon>

            <h2>{{totalUsers}}</h2>

            <p>Users</p>

        </mat-card>

        <mat-card class="card orange">

            <mat-icon>work</mat-icon>

            <h2>{{totalJobs}}</h2>

            <p>Jobs</p>

        </mat-card>

        <mat-card class="card purple">

            <mat-icon>person_search</mat-icon>

            <h2>{{totalCandidates}}</h2>

            <p>Candidates</p>

        </mat-card>

    </div>

    <div class="bottom-section">

        <mat-card class="quick-actions">

            <h2>Quick Actions</h2>

            <button mat-raised-button color="primary">

                Add Company

            </button>

            <button mat-raised-button color="accent">

                Add User

            </button>

            <button mat-raised-button>

                Add Job

            </button>

        </mat-card>

        <mat-card class="activities">

            <h2>Recent Activities</h2>

            <ul>

                <li>✔ Microsoft company added</li>

                <li>✔ Infosys updated</li>

                <li>✔ New Job Posted</li>

                <li>✔ Candidate Registered</li>

                <li>✔ Interview Scheduled</li>

            </ul>

        </mat-card>

    </div>

</div>