<div class="page">
  <div class="card">
    <h2>
      {{ isEditMode ? 'Edit Role' : 'Add Role' }}
    </h2>

    <form [formGroup]="roleForm" (ngSubmit)="saveRole()">
      <!-- ================================================== -->
      <!-- ROLE NAME -->
      <!-- ================================================== -->
      <mat-form-field appearance="outline">
        <mat-label>Role Name</mat-label>

        <input matInput formControlName="RoleName" />

        <mat-error *ngIf="roleForm.get('RoleName')?.hasError('required')">
          Role Name is required
        </mat-error>
      </mat-form-field>

      <!-- ================================================== -->
      <!-- COMPANY -->
      <!-- ================================================== -->
      <mat-form-field appearance="outline">
        <mat-label>Company</mat-label>

        <mat-select formControlName="CompanyId">
          <mat-option *ngIf="hasPermission('VIEW_ALL_COMPANIES')" [value]="null">
            Select Company
          </mat-option>

          <mat-option *ngFor="let company of companies" [value]="company.CompanyId">
            {{ company.CompanyName }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="roleForm.get('CompanyId')?.hasError('required')">
          Company is required
        </mat-error>
      </mat-form-field>

      <!-- ================================================== -->
      <!-- DESCRIPTION -->
      <!-- ================================================== -->
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>

        <textarea matInput rows="4" formControlName="Description"></textarea>
      </mat-form-field>

      <!-- ================================================== -->
      <!-- STATUS -->
      <!-- ================================================== -->
      <mat-slide-toggle formControlName="IsActive"> Active </mat-slide-toggle>

      <!-- ================================================== -->
      <!-- BUTTONS -->
      <!-- ================================================== -->
      <div class="buttons">
        <button
          *ngIf="
            (!isEditMode && hasPermission('CREATE_ROLE')) ||
            (isEditMode && hasPermission('UPDATE_ROLE'))
          "
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || loadingRole"
        >
          {{ loading ? 'Saving...' : isEditMode ? 'Update' : 'Save' }}
        </button>

        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="cancel()"
          [disabled]="loading"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
