<div class="page">
  <div class="card">
    <!-- FORM HEADER -->
    <div class="form-header">
      <h2>{{ isEditMode ? 'Edit Role' : 'Add Role' }}</h2>
    </div>

    <form [formGroup]="roleForm" (ngSubmit)="saveRole()">
      <!-- FORM BODY -->
      <div class="form-body">
        <!-- FIRST ROW -->
        <div class="form-grid">
          <!-- COMPANY -->
          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>

            <mat-select formControlName="CompanyId">
              <mat-option *ngIf="hasPermission('VIEW_ALL_COMPANIES')" [value]="null">
                Select Company
              </mat-option>

              <mat-option *ngFor="let company of companies" [value]="company.CompanyId">
                {{ company.CompanyName }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="roleForm.get('CompanyId')?.hasError('required')">
              Company is required
            </mat-error>
          </mat-form-field>

          <!-- ROLE NAME -->
          <mat-form-field appearance="outline">
            <mat-label>Role Name</mat-label>

            <input matInput formControlName="RoleName" placeholder="Enter Role Name" />

            <mat-error *ngIf="roleForm.get('RoleName')?.hasError('required')">
              Role Name is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- SECOND ROW -->
        <div class="form-grid second-row">
          <!-- DESCRIPTION -->
          <mat-form-field appearance="outline" class="description-field">
            <mat-label>Description</mat-label>

            <textarea
              matInput
              rows="3"
              formControlName="Description"
              placeholder="Enter Description"
            ></textarea>
          </mat-form-field>

          <!-- STATUS -->
          <div class="active-field">
            <span class="field-label">Status</span>

            <mat-slide-toggle formControlName="IsActive"> Active </mat-slide-toggle>
          </div>
        </div>
      </div>

      <!-- BUTTON FOOTER -->
      <div class="buttons">
        <button
          *ngIf="
            (!isEditMode && hasPermission('CREATE_ROLE')) ||
            (isEditMode && hasPermission('UPDATE_ROLE'))
          "
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || loadingRole"
        >
          {{ loading ? 'Saving...' : isEditMode ? 'Update' : 'Save' }}
        </button>

        <button mat-stroked-button type="button" (click)="cancel()" [disabled]="loading">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
