<div class="page">
  <mat-card class="card">
    <h2>Edit Company</h2>

    <form [formGroup]="companyForm" (ngSubmit)="updateCompany()">
      <mat-form-field appearance="outline">
        <mat-label>Company Code</mat-label>
        <input matInput formControlName="CompanyCode" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="CompanyName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="Phone" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Website</mat-label>
        <input matInput formControlName="Website" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput rows="4" formControlName="Address"></textarea>
      </mat-form-field>
      <mat-slide-toggle formControlName="IsActive"> Active </mat-slide-toggle>

      <div class="buttons">
        <button
          *ngIf="hasPermission('UPDATE_COMPANY')"
          mat-raised-button
          color="primary"
          type="submit"
        >
          Update
        </button>

        <button mat-stroked-button color="warn" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
