<div class="page">
  <div class="card">
    <!-- FORM HEADER -->
    <div class="form-header">
      <h2>{{ isEditMode ? 'Edit Skill' : 'Add Skill' }}</h2>
    </div>

    <form [formGroup]="skillForm" (ngSubmit)="saveSkill()">
      <!-- FORM BODY -->
      <div class="form-body">
        <!-- FIRST ROW -->
        <div class="form-grid">
          <!-- COMPANY -->
          <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>

            <mat-select
              formControlName="CompanyId"
              [disabled]="!authService.hasPermission('VIEW_ALL_COMPANIES')"
            >
              <mat-option *ngFor="let company of companies" [value]="company.CompanyId">
                {{ company.CompanyName }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="skillForm.get('CompanyId')?.hasError('required')">
              Company is required
            </mat-error>
          </mat-form-field>

          <!-- SKILL NAME -->
          <mat-form-field appearance="outline">
            <mat-label>Skill Name</mat-label>

            <input matInput formControlName="SkillName" placeholder="Enter Skill Name" />

            <mat-error *ngIf="skillForm.get('SkillName')?.hasError('required')">
              Skill Name is required
            </mat-error>
          </mat-form-field>
        </div>

        <!-- SECOND ROW -->
        <div class="form-grid second-row">
          <!-- DESCRIPTION -->
          <mat-form-field appearance="outline" class="description-field">
            <mat-label>Description</mat-label>

            <textarea
              matInput
              rows="3"
              formControlName="Description"
              placeholder="Enter Description"
            ></textarea>
          </mat-form-field>

          <!-- STATUS -->
          <div class="active-field">
            <span class="field-label">Status</span>

            <mat-slide-toggle formControlName="IsActive"> Active </mat-slide-toggle>
          </div>
        </div>
      </div>

      <!-- BUTTON FOOTER -->
      <div class="buttons">
        <button
          *ngIf="
            (!isEditMode && authService.hasPermission('CREATE_SKILL')) ||
            (isEditMode && authService.hasPermission('UPDATE_SKILL'))
          "
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loading || loadingSkill"
        >
          {{ loading ? 'Saving...' : isEditMode ? 'Update' : 'Save' }}
        </button>

        <button mat-stroked-button type="button" (click)="cancel()" [disabled]="loading">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
